

o/**
.gradle/
.idea/
local.properties

app/build.gradle

aps3e.keystore
aps3e.jks
app/release/
app/.cxx/
app/src/main/java/aenu/aps3e/R.java

app/src/main/cpp/ab/
app/src/main/cpp/ffmpeg_android/
app/src/main/cpp/iconv_out/
app/src/main/cpp/iso_t/
app/src/main/cpp/llvm_out/
app/src/main/cpp/ffmpeg_out/
app/src/main/cpp/glslang_out/

app/src/main/lib/